.pageContent {
  margin: 0 auto;
  margin-top: 56px;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.afghan {
  background-color: rgb(81, 255, 0);
  min-height: 100%;
  flex-grow: 1;
}

.ukrain {
  background-color: blue;
  min-height: 100%;
  flex-grow: 1;
}